@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,200;1,500;1,800&display=swap');

body{
    background-color: #333333;
    color: whitesmoke;
    margin: 0;

}

html{
    font-family: 'Fira Sans', sans-serif;
    
}

h2{
    color: whitesmoke;
    margin: 20px;
    padding: 10px;
    font-size: 300%;
    text-align: center;
}

.hero{
    position: relative;
    width: 100%;
    height: calc(100vh - 50px);
    background-color: #F5F5F5;
    background-size: cover;
    background-position: center;
    transition: all .1s ease-in-out;
    background-image: url(img/WallCode1.jpg);
    animation: hero 15s infinite linear;
}

.hero-cont{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: whitesmoke;
    background-color: rgba(0, 22, 40, .6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-cont h1{
    margin: 0%;
    padding: 0%;
    font-size: 500%;
}

@keyframes hero{
    0%{
        background-image: url(img/WallCode1.jpg);
    }
    33%{
        background-image: url(img/WallCode1.jpg);
    }
    34%{
        background-image: url(img/WallCode2.jpg);
    }
    66%{
        background-image: url(img/WallCode2.jpg);
    }
    67%{
        background-image: url(img/WallCode3.jpg);
    }
    100%{
        background-image: url(img/WallCode3.jpg);
    }
    
}
.barra {
    margin: 0;
    display: flex;
    height: 50px;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: teal;
    
}
.vin{
    margin: 30px, 100px;
    padding: 10px 20px;
}

a{
    color: whitesmoke;
    text-decoration: none;
}

.foot{
    background-color: teal;
}

.btn{
    margin: 30px, 100px;
    padding: 10px 20px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
}
.portItem{
    padding: 1% 2%;
    border: 4px solid whitesmoke;
    margin: 1.3rem 3rem;
    height: 25rem;
    flex-basis: 20%;
    border-radius: 50px;
}

.portItem>img{
    height: 8rem;
    width: 10rem;
    display: block;
    margin: 0 auto;
    border-radius: 50px;
}

.portItem>h3{
    font-weight: bold;
    text-align: center;
}


.flex {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.about-content{
    background-color: teal;
    color: whitesmoke;
    align-items: center;
    height: 400px;
    margin:20px;
    padding: 20px;
}
.info{
    text-align: center;
}
#perfil{
    height: 10rem;
    width: 8rem;
    display: block;
    margin: 0 auto;
    border-radius: 50px;
}
.bar{
    height: 20px;
    border-radius: 20px;
    background: whitesmoke;
    border-radius: 20px;
    border: 3px solid whitesmoke;
}

#bar1{
    height: 20px;
    border-radius: 20px;
    background: green;
    border-radius: 20px;
}
#bar2{
    height: 20px;
    border-radius: 20px;
    background: red;
    border-radius: 20px;
}
#bar3{
    height: 20px;
    border-radius: 20px;
    background: green;
    border-radius: 20px;
}
#bar4{
    height: 20px;
    border-radius: 20px;
    background: green;
    border-radius: 20px;
}
#bar5{
    height: 20px;
    border-radius: 20px;
    background:yellow;
    border-radius: 20px;
}
#bar6{
    height: 20px;
    border-radius: 20px;
    background: red;
    border-radius: 20px;
}
.form{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 25rem;
    margin: auto;
    padding: 3rem;
}

.ico{
    height: 15px;
    width: 15px;
}

#ContactMe{
    background-color: teal;
    color: whitesmoke;
    align-items: center;
    height: 550px;
    margin:20px;
    padding: 20px;
}

.tex{
    height: 3rem;
    width: 90%;
    margin: 5px auto 15px;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 10px;
    color: #000000;
    font-size: 1rem;
    font-family: 'Fira Sans', sans-serif;
    
    
}

.form textarea{
    height: 100px;
    font-family: 'Fira Sans', sans-serif;
}

.form button{
    height: 3rem;
    width: 50%;
    margin: 5px auto 20px;
    padding: 10px 25px;
    border-radius: 50px;
    color: white;
    background-color: green;
    font-size: 1rem;
    font-family: 'Fira Sans', sans-serif;
    
    
}
.form button:hover{
    background-color: darkgreen;
    cursor: pointer;
}
